@import 'src/assets/styles/_variables.scss';

.parts {
  &__wrapper {
    margin-top: 12px;
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    margin-bottom: 16px;
  }
  &__title {
    @include font(16px, $color-grey-space, 700);
  }
  &__list {
  }
  &__head {
    display: grid;
    grid-template-columns: 2fr 1.6fr repeat(5, 1fr) 24px;
    column-gap: 10px;
    margin-bottom: 10px;
    & > span {
      @include font(14px, $color-grey, 500);
    }
  }
}
