@import 'src/assets/styles/_variables.scss';

.page-inner {
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
}

.customers {
  &__wrapper {
    height: inherit;
    overflow-y: hidden;
    background-color: $color-bg;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
