@import 'src/assets/styles/_variables.scss';

.section {
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding-left: 3px;
    & > .y-textarea {
      grid-area: 2 / 1 / 2 / 4;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin-top: 14px;
  }
}
