@import 'src/assets/styles/_variables.scss';

.section {
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    & > i {
      @include font(14px, $color-grey);
    }
    & > span {
      @include font(14px, $color-grey-space, 600);
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__body {
    display: grid;
    overflow: hidden;

    margin-bottom: 3px;
  }
  &__parts {
    display: grid;
    overflow: auto;
    row-gap: 12px;
    @include hideScrollbar;
  }
}

.dialog {
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 18px 14px;
    background-color: $color-grey-space;
    border-radius: 20px;
  }
  &__move {
    padding-right: 14px;
    border-right: 1px solid $color-grey;
    & > i {
      @include font(18px, $color-grey);
      cursor: move;
    }
  }
  &__text {
    @include font(14px, $color-grey-light, 600);
    white-space: nowrap;
  }
  &__title {
    @include font(14px, $color-grey-smoke, 600);
    @include border(10px, $color-grey-light);
    background-color: $color-grey;
    height: 36px;
    padding: 0 12px;
    display: grid;
    place-items: center;
    white-space: nowrap;
  }
  &__btns {
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin-left: 60px;
  }
  &__btn {
    height: 36px;
    padding: 0 12px;
    display: grid;
    place-items: center;
    background-color: $color-white;
    @include font(14px, $color-grey-space, 600);
    @include border(10px, transparent);
    white-space: nowrap;
    &--border {
      border-color: $color-grey;
      background-color: transparent;
      color: $color-white;
    }
  }
}

.y-chip {
  @include font(14px, $color-white, 600);
  padding: 6px 8px;
  background-color: $color-green;
  border-radius: 30px;
}
