@import 'src/assets/styles/_variables.scss';

.request {
  &__wrapper {
  }
  &__inner {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    row-gap: 12px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  &__time {
    display: flex;
    align-items: center;
    & > i {
      font-size: 20px;
      margin-right: 12px;
    }
    @include font(16px, $color-grey-space, 500);
    & > span {
      white-space: pre;
      font-weight: 600;
    }
  }
  &__body {
    @include font(16px, $color-grey-space, 500, 1.5);
  }

  &__line {
  }
  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr;
    row-gap: 14px;
    column-gap: 8px;
    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }
  }
}

.line {
  position: relative;
  margin-left: 20px;
  &__horizontal {
  }
}
