@import 'src/assets/styles/_variables.scss';

.page-inner {
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
}

.services {
  &__wrapper {
    overflow: hidden;
    padding: 20px;
    background-color: $color-grey-bg;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  &__inner {
    overflow-y: auto;
    background-color: $color-white;
    border-radius: 0 0 16px 16px;

    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 20px;
  }
}

.service__item {
  display: grid;
  grid-template-columns: 5fr 5fr 3fr 24px;
  align-items: center;
  column-gap: 20px;
  padding: 12px 20px;
  border-bottom: 1px solid $color-lightgrey;
  min-height: 59px;
}

.service__skeleton {
  height: 34px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba($color-lightgrey, 0.6)),
    color-stop(18%, rgba($color-lightgrey, 0.8)),
    color-stop(33%, rgba($color-lightgrey, 0.6))
  );
  background: linear-gradient(to right, rgba($color-lightgrey, 0.6) 8%, rgba($color-lightgrey, 0.8) 18%, rgba($color-lightgrey, 0.6) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.header {
  background-color: $color-white;
  border-radius: 16px 16px 0 0;
  &__middle {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-bottom: 1px solid $color-lightgrey;
    column-gap: 20px;
  }
  &__bottom {
    border-bottom: 1px solid $color-lightgrey;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
}

.field {
  width: 290px;
  max-width: 100%;

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    & > i:first-child {
      margin-right: 8px;
      color: $color-grey;
    }
  }
  &__input {
    width: 100%;
    font-weight: 500;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
    }
    &:placeholder-shown {
      & + i {
        display: none;
      }
    }
  }
}

.list-titles {
  display: grid;
  grid-template-columns: 5fr 5fr 3fr 24px;

  column-gap: 20px;
  padding: 16px 40px;
  &__item {
    @include font(12px, rgba($color-dark, 0.6), 500);
  }
}
