@import 'src/assets/styles/_variables.scss';

.totals {
  &__wrapper {
    background-color: $color-white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__title {
    @include font(14px, $color-blue, 600);
    text-transform: uppercase;
  }
  &__block {
  }
}

.block {
  &__row {
    display: grid;
    grid-template-columns: 14px 1fr auto;
    padding: 12px 0;
    column-gap: 10px;
    align-items: center;
    @include font(14px, $color-grey-space, 600);
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__icon {
    height: 14px;
    width: 14px;
    border-radius: 4px;
    background-color: $color-green;

    &.-grey {
      background-color: $color-grey;
    }
    &.-dark {
      background-color: $color-grey-dark;
    }
  }
  &__name {
  }
  &__desc {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    & > i {
      font-size: 20px;
      margin: -3px;
    }
  }
}
