@import 'src/assets/styles/_variables.scss';

.page-inner {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
}

.customers {
  &__container {
    display: grid;
    background-color: #e5e5e5;
    grid-template-rows: auto 1fr;
    max-height: 100%;
    width: inherit;
    height: auto;
    overflow: hidden;
  }
  &__inner {
    display: grid;
    margin: 20px;
    border-radius: 16px;
    height: inherit;
    width: inherit;
    box-shadow: 0px 3px 0px rgba(48, 50, 73, 0.05);
    overflow: hidden;
  }
  &__wrapper {
    display: grid;
    background-color: $color-white;
    padding: 20px;
    overflow: auto;
    @include hideScrollbar();
  }
}

.customer__item {
  display: grid;
  grid-template-columns: 2fr 2.5fr 1.5fr 5fr 24px;
  align-items: center;
  column-gap: 20px;
  padding: 12px 20px;
  border-bottom: 1px solid $color-lightgrey;
  min-height: 59px;
}

.customer__skeleton {
  height: 34px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba($color-lightgrey, 0.6)),
    color-stop(18%, rgba($color-lightgrey, 0.8)),
    color-stop(33%, rgba($color-lightgrey, 0.6))
  );
  background: linear-gradient(to right, rgba($color-lightgrey, 0.6) 8%, rgba($color-lightgrey, 0.8) 18%, rgba($color-lightgrey, 0.6) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
