@import 'src/assets/styles/_variables.scss';

.payroll {
  &__wrapper {
    overflow: hidden;
    padding: 20px;
    background-color: $color-grey-bg;
    height: 100%;
    display: grid;
  }
  &__inner {
    background-color: $color-white;
    border-radius: 16px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  &__header {
    display: flex;
    padding: 16px;
    column-gap: 10px;
    border-bottom: 1px solid $color-grey-flash;
    & > .y-dropdown {
      width: auto;
    }
  }
  &__body {
    overflow: auto;
  }
}
