@import 'src/assets/styles/_variables.scss';

.total {
  &__wrapper {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
    }
    &:last-child > .total__header {
      margin-bottom: 0;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: 20px 1fr auto;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 14px;
    &.-parts {
      grid-template-columns: 20px 1fr auto 20px;
    }
  }
  &__icon {
    @include font(20px, $color-green);
    &.-red {
      color: $color-red;
    }
    &.-grey {
      color: $color-grey;
    }
    &.-dark {
      color: $color-grey-dark;
    }
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__price {
    display: flex;
    align-items: center;
    column-gap: 8px;
    & > i {
      @include font(20px, $color-green);
      &.-red {
        color: $color-red;
      }
    }
    & > span {
      @include font(16px, $color-grey-space, 600);
    }
  }
  &__btn {
    @include font(20px, $color-grey);
    background-color: $color-grey-flash;
    border-radius: 50%;
    cursor: pointer;
    &.-rotate {
      transform: rotate(180deg);
    }
  }
  &__body {
    @include border(14px);
    background-color: $color-grey-smoke;
    padding: 2px 16px;
    margin-bottom: 20px;
  }
  &__part {
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    padding: 12px 0;
    @include font(14px, $color-grey-space, 600);
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
    }
    & > span:last-child {
      justify-self: end;
    }
  }
}
