@import 'src/assets/styles/_variables.scss';

.users {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 255px;
    height: 100%;
  }
  &__container {
    padding: 60px;
    border-right: 1px solid $color-grey-flash;
  }
  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      & > span {
        @include font(20px, $color-grey-space, 600);
        margin-right: 20px;
      }
    }
  }
  &__label {
    border-color: $color-grey-flash;
    color: $color-grey-space;
  }
  &__inner {
  }
}
