@import 'src/assets/styles/_variables.scss';

::v-deep() {
  .vfm__container {
    place-items: start center;
  }
  .vfm__content {
    margin: 1% 0;
    width: 98%;
    max-width: 1460px;
    border-radius: 20px;
    max-height: 96vh;
  }
  .vfm--overlay {
    background-color: rgba($color-grey, 0.4);
  }
}

.modal {
  &__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    max-height: inherit;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    align-items: center;
    padding: 10px 30px;
    padding-right: 20px;
    background-color: rgba($color-orange, 0.14);
    border-bottom: 1px solid $color-grey-flash;
    &-right {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    &-left {
      display: flex;
      column-gap: 16px;
      align-items: center;
    }
    &-title {
      @include font(16px, $color-grey, 600);
    }
    & > .-grey {
      background-color: $color-grey-flash;
    }
    & > .-shadow {
      color: $color-grey-space;
      border-color: $color-grey-flash;
      box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    }
    &-nav {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
    &-cus {
      display: flex;
      align-items: center;
      & > .-dark {
        height: 28px;
        width: 28px !important;
        transform: translateX(4px);
      }
    }
  }
  &__main {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    overflow: hidden;
    &-blocks {
      overflow: hidden;
      max-height: 100%;
      display: grid;
      grid-template-rows: repeat(4, auto) 1fr;
    }
    &-requests {
      background-color: $color-grey-smoke;
      border-top-left-radius: 16px;
      padding: 16px 20px;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto auto auto 1fr;
    }
    &.-full {
      padding-top: 0;
      grid-template-columns: 1fr;
    }
  }
}
.blocks {
  padding: 0 30px;
  &__title {
    margin: 10px 0;
    @include font(24px, $color-grey-space, 600);
  }
  &__subtitle {
    @include font(14px, $color-grey-space, 500);
    margin-bottom: 16px;
  }
  &__nav {
    display: flex;
    column-gap: 12px;
    margin-bottom: 10px;
    & > .-white {
      background-color: $color-white;
    }
    & > .-green {
      color: $color-green;
      border-color: $color-green;
    }
  }
  &__btn {
    height: 36px;
    padding: 0 10px;
    @include border(10px, $color-grey-flash);
    @include font(16px, $color-grey, 600);
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    column-gap: 8px;
    &:hover {
      border-color: $color-green;
    }
    &.-green {
      border-color: $color-green;
      color: $color-green;
    }
    & > span {
      height: 20px;
      width: 20px;
      display: grid;
      place-items: center;
      @include font(12px, $color-white, 600);
      background-color: $color-green;
      border-radius: 50%;
    }
  }
  &__inner {
    display: grid;
    overflow: hidden;
    padding-bottom: 20px;
  }
}

.requests {
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid $color-grey-flash;
    padding: 12px 0;
    &:first-child {
      padding-top: 0;
    }
    &-title {
      @include font(14px, $color-grey, 600);
    }
    & > .-orange {
      background-color: $color-orange;
    }
    & > .-shadow.-none {
      background-color: $color-grey-flash;
      color: $color-grey;
    }
  }
  &__label {
    transition: opacity 0.2s ease-in-out;
    &.-red {
      background-color: $color-red;
    }
    &.-orange {
      background-color: $color-orange;
    }
    &.-bluegreen {
      background-color: $color-bluegreen;
    }
    &.-none {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey;
    }
    &.-shadow {
      padding-right: 10px;
      &.-green {
        background-color: $color-green-mint;
        color: $color-green;
        &.-border {
          border-color: $color-green;
        }
      }
      &.-red {
        color: $color-red;
        background-color: rgba($color-red, 0.1);
      }
      &.-purple {
        color: $color-purple;
        background-color: rgba($color-purple, 0.1);
      }
      &.-bluegreen {
        color: $color-bluegreen;
        background-color: rgba($color-bluegreen, 0.1);
      }
      &.-none {
        border-color: transparent;
        background-color: $color-grey-smoke;
        color: $color-grey;
      }
    }
    &.-hover {
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    &.-disabled {
      opacity: 1 !important;
      cursor: default !important;
    }
  }
  &__list {
    margin-top: 20px;
    overflow: auto;
    @include hideScrollbar;
    &-title {
      @include font(14px, $color-grey-dark, 600);
      margin-bottom: 12px;
    }
  }
}
.request {
  &__wrapper {
    padding: 16px;
    background-color: $color-white;
    @include border(16px, $color-grey-flash);
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 12px;
    & > i {
      @include font(16px, $color-blue);
    }
    & > span {
      @include font(14px, $color-grey-space, 600);
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    &-title {
      @include font(14px, $color-grey, 500);
    }
    &-text {
      @include font(14px, $color-grey-space, 600);

      &.-green {
        color: $color-green;
      }
      &.-red {
        color: $color-red;
      }
    }
  }
  &__tracker {
  }
  &__textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
    @include font(14px, $color-grey, 500, 1.4);
    @include hideScrollbar;
  }
  &__textarea::-webkit-resizer {
    display: none;
  }
  &__dropdowns {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
  }
}

.tracker {
  border-top: 1px dashed $color-grey-flash;
  padding-top: 12px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-cell {
      display: flex;
      align-items: center;
      column-gap: 6px;
      & > i {
        @include font(14px, $color-grey);
      }
      & > span {
        &:first-of-type {
          @include font(12px, $color-grey, 500);
        }
        &:last-of-type {
          @include font(12px, $color-grey-space, 600);
        }
      }
    }
  }
  &__progress {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6px;
    margin-top: 12px;
    & > span {
      height: 4px;
      background-color: $color-grey-flash;
      border-radius: 4px;
      &.-green {
        background-color: $color-green;
      }
    }
  }
}

.tech {
  &__list {
    display: flex;
    align-items: center;
  }
  &__add {
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    cursor: pointer;
    @include font(16px, $color-grey-space);
    @include border(50%, $color-grey-flash);
    background-color: $color-white;
  }
  &__label {
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    @include font(12px, $color-white, 600);
    background: $color-green;
    margin-right: -4px;
    border: 1px solid $color-white;
  }
}

.y-dropdown-item-custom > i {
  @include font(22px, $color-green);
  margin: -1px;
}
