@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    display: grid;
    overflow: auto;
    row-gap: 20px;
    @include hideScrollbar;
    margin-top: 30px;
  }
}

.warranty {
  &__wrapper {
    @include border(16px, $color-grey-flash);
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    background-color: $color-grey-smoke;
    padding: 20px;
    display: grid;
    row-gap: 14px;
  }
  &__header {
    @include font(20px, $color-grey-space, 600);
  }
  &__body {
    @include font(16px, $color-grey, 500, 1.5);
  }
  &__progress {
    background-color: $color-grey-flash;
    height: 8px;
    border-radius: 10px;
    & > span {
      border-radius: 10px;
      display: block;
      height: 8px;
    }
    &.green {
      & > span {
        background-color: $color-green;
      }
    }
    &.red {
      & > span {
        background-color: $color-red;
      }
    }
  }
  &__time {
    display: flex;
    column-gap: 8px;
    & > .-shadow {
      box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
      border-color: $color-grey-flash;
      color: $color-grey-space;
    }
  }
}
