@import 'src/assets/styles/_variables.scss';

.order-layout {
  display: grid;
  &.is-header {
    grid-template-rows: auto 1fr;
  }
}
.page-wrapper {
  background-color: #e5e5e5;
  overflow: auto;
  @include hideScrollbar();
}
