@import 'src/assets/styles/_variables.scss';

.card {
  background-color: $color-white;
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  transition: all .2s ease-in-out;
  &:hover {
    box-shadow: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__status {
    padding-right: 10px !important;
    &.-none {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey;
    }
    &.-grey {
      background-color: $color-grey;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__date {
    background-color: rgba($color-grey-light, 0.4);
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px;
    border-radius: 8px;
    & > span {
      display: flex;
      align-items: center;
      column-gap: 8px;
      @include font(12px, $color-grey-space, 500);
      white-space: nowrap;
      & > i {
        font-size: 14px;
      }
    }
    // border-radius: 6px;
    // padding: 10px;
    // display: flex;
    // align-items: center;
    // column-gap: 8px;
    // margin-bottom: 16px;
    // @include font(12px, $color-space, 600);
    // & > i {
    //   color: $color-green;
    // }
  }
  &__tech {
    display: flex;
    align-items: center;
    column-gap: 8px;
    & > i {
      @include font(16px, $color-grey);
    }
    & > span {
      @include font(14px, $color-grey-space, 500);
    }
  }
  &__additional {
    @include border(12px, $color-grey-flash);
    background-color: $color-grey-smoke;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    & > i {
      display: grid;
      place-items: center;
      background-color: $color-grey-flash;
      height: 26px;
      width: 26px;
      border-radius: 6px;
      @include font(14px, $color-grey-space);
    }
  }
  &__scheduling {
    padding: 10px 0;
    border-top: 1px dashed $color-grey-flash;
    border-bottom: 1px dashed $color-grey-flash;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    &-time {
      display: flex;
      align-items: center;
      column-gap: 8px;
      & > i {
        @include font(16px, $color-grey);
      }
      & > span {
        @include font(14px, $color-grey-space, 500);
      }
      &.-green {
        & > i {
          color: $color-green;
        }
      }
      &.-grey {
        & > i,
        & > span {
          color: $color-grey-light;
        }
      }
      &.-red {
        & > i {
          color: $color-red;
        }
      }
    }
    &-percent {
      @include font(14px, $color-grey, 600);
      background-color: $color-grey-smoke;
      border-radius: 4px;
      display: grid;
      place-items: center;
      padding: 4px 0;
      &.-green {
        background-color: $color-green-mint;
        color: $color-green;
      }
      &.-red {
        background-color: $color-red-blush;
        color: $color-red;
      }
    }
  }
  &__footer {
    display: flex;
    column-gap: 4px;
    border-top: 1px dashed $color-grey-flash;
    padding-top: 12px;
    & > .-full {
      flex-grow: 1;
    }
    & > .-blue {
      border-color: rgba($color-blue, .1);
      background-color: $color-blue-light;
      color: $color-grey-space;
    }
    & > .-grey {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey-space;
    }
  }
}
