@import 'src/assets/styles/_variables.scss';

.job {
  &__wrapper {
    @include border(14px, $color-grey-flash);
    background-color: $color-grey-smoke;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 20px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
    margin-bottom: 18px;
  }
  &__inner {
  }
  &__table {
  }
  &__chart {
  }
}

.table {
  &__row {
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr repeat(2, minmax(60px, auto));
    column-gap: 20px;
    align-items: center;
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
    }
  }
  &__cell {
    @include font(14px, $color-grey-space, 600);

    &.-input {
      justify-self: start;
      & > label {
        max-width: 60px;
      }
    }
    &.-bold {
      font-weight: 700;
    }
  }
}
.chart {
  @include border(14px, $color-grey-flash);
  background-color: $color-white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  & > .-grey {
    background-color: $color-grey;
  }
  &__title {
    @include font(18px, $color-grey-dark, 700);
  }
}
