@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 100%;
  }
}

.field {
  &__title {
    @include font(14px, $color-space, 600);
    margin-bottom: 12px;
  }
  &__dropdown-label {
    padding: 2px 0;
  }
}
