@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    background-color: $color-white;
    padding: 16px;
    border-radius: 16px;
    @include shadow;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    &-title {
      @include font(14px, $color-grey-space, 600);
    }
  }
  &__title {
    @include font(14px, $color-blue, 600);
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__label {
    padding: 8px;
    @include border(8px, $color-grey-flash);
    background-color: $color-grey-smoke;
    display: flex;
    align-items: center;
    column-gap: 6px;
    & > span {
      display: flex;
      align-items: center;
      column-gap: 6px;
      @include font(14px, $color-grey-space, 600);
      & > i {
        font-size: 16px;
      }
      &.-grey {
        color: $color-grey;
      }
    }
  }
  &__btn {
    @include border(12px, $color-grey-light);
    background-color: $color-grey-flash;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    overflow: hidden;
    position: relative;

    & > span {
      @include font(14px, $color-grey-space, 600);
    }
    & > i {
      @include font(16px, $color-grey);
    }
  }
}

.block {
  &__days {
    border-top: 1px solid $color-grey-flash;
  }
  &__day {
    &-wrapper {
      margin: 14px 0;
    }
    &-title {
      @include font(14px, $color-grey-space, 600);
      margin-bottom: 14px;
    }
    &-inner {
      background-color: $color-grey-smoke;
      border-radius: 12px;
      padding: 14px;
    }
    &-label {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-title {
        @include font(14px, $color-grey-dark, 500);
        margin-bottom: 10px;
      }
      &-text {
        padding: 14px 12px;
        background-color: $color-white;
        @include border(12px, $color-grey-flash);
        display: flex;
        align-items: center;
        column-gap: 8px;
        & > i {
          font-size: 18px;
        }
        & > span {
          @include font(14px, $color-grey-space, 500);
        }
      }
    }
  }
}

.dialog {
  &__inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 18px;
  }
  &__header {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
    }
    &-label {
      height: 38px;
      display: flex;
      align-items: center;
      column-gap: 8px;
      @include border(10px, $color-green);
      padding: 0 10px;

      & > span {
        @include font(16px, $color-grey-space, 600);
        display: flex;
        align-items: center;
        column-gap: 8px;
        & > i {
          font-size: 18px;
        }
        .-orange {
          color: $color-orange;
        }
        .-green {
          color: $color-green;
        }
        .-grey {
          color: $color-grey-light;
        }
      }
      &.active {
        background-color: $color-green-mint;
      }
    }
  }
  &__title {
    @include font(18px, $color-grey-space, 600);
  }
  &__close {
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    @include border(50%, $color-grey-light);
    & > i {
      @include font(20px, $color-grey);
    }
  }
  &__main {
    flex-grow: 1;
    overflow: auto;
    @include hideScrollbar;
  }
  &__textarea {
    display: block;
    height: 200px;
    width: 600px;
    resize: none;
    @include border(12px, $color-grey-flash);
    @include font(14px, $color-grey-space, 500);
    padding: 16px;
    margin-bottom: 14px;
  }
  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
  }
  &__btn {
    height: 40px;
  }
}

.day {
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid $color-grey-flash;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 14px;
    &-title {
      @include font(16px, $color-grey-space, 600);
    }
    &-line {
      height: 1px;
      background-color: $color-grey-flash;
    }
    &-close {
      height: 26px;
      width: 26px;
      display: grid;
      place-items: center;
      @include border(50%, $color-grey-light);
      & > i {
        @include font(16px, $color-grey);
      }
    }
    &--close {
      grid-template-columns: auto 1fr 26px;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
  }
  &__btn {
    width: 100%;
    height: 40px;
    margin: 14px 0;
  }
}

.y-number {
  &__wrapper {
  }
  &__title {
    @include font(14px, $color-grey-dark, 600);
    margin-bottom: 12px;
  }
  &__inner {
    background-color: $color-grey-smoke;
    @include border(12px, $color-grey-flash);
    height: 46px;
    display: grid;
    grid-template-columns: 28px 1fr 28px;
    align-items: center;
    padding: 0 12px;
    & > i {
      height: 28px;
      width: 28px;
      display: grid;
      place-items: center;
      background-color: $color-green;
      border-radius: 50%;
      cursor: pointer;
      @include font(14px, $color-white);

      &.-disabled {
        color: $color-grey;
        background-color: $color-grey-flash;
        cursor: default;
      }
    }
  }
  &__text {
    justify-self: center;
    @include font(14px, $color-grey, 600);
  }
  &__dec {
  }
  &__inc {
  }
}
