@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    background-color: $color-white;
    padding: 16px;
    border-radius: 16px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: $color-grey-smoke;
    padding: 14px;
    border-radius: 16px;
  }
  &__title {
    @include font(14px, $color-blue, 600);
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}
