@import 'src/assets/styles/_variables.scss';
.card {
  &__wrapper {
    display: grid;
    grid-template-columns: 16px 4fr 1fr 1fr 1fr 1fr 20px;
    column-gap: 10px;
    row-gap: 14px;
    align-items: center;
    padding: 20px 0;
    &:not(:first-child) {
      border-top: 1px solid $color-lightgrey;
    }
  }
  &__icon {
    & > i {
      @include font(16px, $color-grey);
    }
  }
  &__text {
    @include font(14px, $color-space, 600);
  }
  &__field {
    display: none;
  }
  &__dropdown {
    justify-self: end;
    &-menu {
      @include font(24px, $color-grey);
      opacity: 0.5;
      cursor: pointer;
    }
    &-option {
      display: flex;
      align-items: center;
      & > i {
        font-size: 18px;
        margin-right: 10px;
      }
      & > span {
        @include font(14px, $color-space, 600);
      }
    }
  }
  &__buttons {
    display: none;
    column-gap: 10px;
  }
  &__btn {
    @include font(16px, $color-grey, 600);
    @include border;
    padding: 14px 24px;
    &.green {
      background-color: $color-green;
      color: $color-white;
      border-color: transparent;
    }
  }
}

.card__wrapper.edit {
  border: 1px solid $color-green;
  padding: 14px;
  border-radius: 12px;
  & + .card__wrapper {
    border-color: transparent;
  }
  & > .card {
    &__text {
      &.name, &.price {
        display: none;
      }
    }
    &__field {
      display: block;
    }
    &__dropdown {
      display: none;
    }
    &__buttons {
      display: flex;
      grid-row-start: 2;
    }
  }
}
