@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    display: grid;
    overflow: auto;
    row-gap: 20px;
    @include hideScrollbar;
    margin-top: 30px;
  }
  &__header {
    display: grid;
    grid-template-columns: 24px 1fr;
    column-gap: 10px;
    align-items: center;
    row-gap: 8px;
    & > i {
      @include font(24px, $color-grey);
      cursor: pointer;
    }
  }
  &__title {
    @include font(18px, $color-grey-space, 600);
  }
  &__desc {
    grid-column-start: 2;
    @include font(14px, $color-grey-space, 500);
  }
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 12px;
    &-link {
      height: 36px;
      padding: 0 10px;
      @include border(10px, $color-grey-flash);
      @include font(16px, $color-grey, 600);
      transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      display: flex;
      align-items: center;
      column-gap: 8px;
      &:hover {
        border-color: $color-green;
      }
      &.-green {
        border-color: $color-green;
        color: $color-green;
      }
      & > span {
        height: 20px;
        width: 20px;
        display: grid;
        place-items: center;
        @include font(12px, $color-white, 600);
        background-color: $color-green;
        border-radius: 50%;
      }
    }
  }
  &__section {
    padding-bottom: 30px;
  }
}
