@import 'src/assets/styles/_variables.scss';
.header {
  &__icon {
    padding: 5px;
    background-color: rgba($color-green, 0.1);
    line-height: 1;
    border-radius: 50%;
    margin-right: 12px;
    line-height: 0;
    & > i {
      @include font(20px, $color-green);
    }
  }
  &__btn {
    padding: 6px;
    padding-right: 14px;
    background-color: $color-green;
    border-radius: 48px;
    display: flex;
    align-items: center;
    & > i {
      @include font(20px, $color-white);
      margin-right: 8px;
    }
    & > span {
      @include font(14px, $color-white, 400);
      margin-bottom: 1px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    padding-left: 60px;
    border-bottom: 1px solid $color-lightgrey;
  }
  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    border-bottom: 1px solid $color-lightgrey;
  }
  &__bottom {
    border-bottom: 1px solid $color-lightgrey;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__title {
    @include font(20px, $color-space, 600);
  }
  &__tab {
    display: flex;
    align-items: center;
    margin-right: 20px;
    & > span {
      @include font(14px, $color-space, 600);
      margin-left: 8px;
    }
    & > i {
      color: $color-grey;
    }
  }
}

.field {
  width: 290px;
  max-width: 100%;

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    & > i:first-child {
      margin-right: 8px;
      color: $color-grey;
    }
  }
  &__input {
    width: 100%;
    font-weight: 500;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
    }
    &:placeholder-shown {
      & + i {
        display: none;
      }
    }
  }
}

.list-titles {
  display: grid;
  grid-template-columns: 2fr 2.5fr 1.5fr 5fr 24px;
  column-gap: 20px;
  padding: 16px 20px;

  &__item {
    @include font(12px, rgba($color-dark, 0.6), 500);
  }
}

.btn--border {
  border: none;
}
