@import 'src/assets/styles/_variables.scss';

::v-deep(.vfm__content) {
  width: 96%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0px 4px 84px rgba(99, 99, 112, 0.16);
}

.modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  &__icon {
    margin-bottom: 40px;
    & > i {
      @include font(70px, $color-red)
    }
  }
  &__title {
    @include font(20px, $color-space, 700);
    margin-bottom: 14px;
  }
  &__subtitle {
    @include font(14px, $color-grey, 600, 1.6);
    text-align: center;
    margin-bottom: 24px;
    & > span {
      color: $color-space;
    }
  }
  &__buttons {
    display: flex;
    width: 100%;
    column-gap: 16px;

  }
  &__button {
    @include font(16px, $color-space, 600);
    @include border(12px);
    width: 100%;
    padding: 16px;
    display: grid;
    place-items: center;

    &.red {
      background-color: $color-red;
      border-color: transparent;
      color: $color-white;
    }
  }
}
