@import 'src/assets/styles/_variables.scss';

.main {
  &__wrapper {
    overflow-y: auto;
    padding: 30px;
    padding-top: 20px;
    display: grid;
    row-gap: 24px;
  }
  &__label {
    @include border(10px, $color-violet);
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 12px;
    background-color: rgba($color-violet, 0.1);
    & > i {
      @include font(16px, $color-violet, 600);
    }
    & > span {
      @include font(14px, $color-grey-space, 600);
    }
  }
}

.field {
  &__label {
  }
  &__title {
    @include font(14px, $color-space, 600);
    margin-bottom: 12px;
  }
  &__text {
    @include font(14px, $color-space, 500);
    padding: 14px;
    background-color: rgba($color-lightgrey, 0.2);
    @include border;
    width: 100%;
    resize: none;
    height: 90px;
    &::placeholder {
      color: $color-grey;
    }
    &.error {
      border-color: $color-red;
      background-color: rgba($color-red, 0.1);
      &::placeholder {
        color: $color-red;
      }
    }
  }
}
