@import 'src/assets/styles/_variables.scss';

.card {
  &__wrapper {
    @include border(16px, $color-grey-flash);
    padding: 12px 16px;
    background-color: $color-white;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    &.-select .card__top {
      grid-template-columns: 32px 20px auto 1fr 1fr;
      & > i:first-child {
        padding-right: 12px;
        border-right: 1px dashed $color-grey-flash;
      }
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    &-left {
      display: grid;
      column-gap: 12px;
      grid-template-columns: 20px auto 1fr 1fr;
      align-items: center;
    }

    & > * {
      justify-self: start;
    }
    & > i {
      font-size: 20px;
    }

    & > .-light {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey;
    }

    &-labels {
      display: flex;
      align-items: center;
      column-gap: 8px;
      & > .-shadow {
        box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
        border-color: $color-grey-flash;
        color: $color-grey-space;
      }
    }
  }
  &__title {
    @include font(14px, $color-grey-space, 600);
  }
  &__text {
    @include font(14px, $color-grey-space, 500);
  }
}
