@import 'src/assets/styles/_variables.scss';

.guid {
  &__wrapper {
    display: grid;
    grid-template-columns: 16px 1fr minmax(20px, auto);
    align-items: center;
    column-gap: 12px;
    background-color: $color-white;
    padding: 16px;
    @include border(16px, $color-grey-flash);
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    & > i {
      @include font(16px, $color-green);
    }
    &.-menu {
      grid-template-columns: 16px 1fr minmax(20px, auto) 32px;
    }
  }
  &__name {
    @include font(14px, $color-grey-space, 600, 1.3);
  }
}
