@import 'src/assets/styles/_variables.scss';

::v-deep(.vfm__content) {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 4px 84px rgba(99, 99, 112, 0.16);
}

.modal {
  height: 320px;
  padding: 30px 16px 16px;
  background: $color-white;
  box-shadow: 0px 4px 84px rgba(99, 99, 112, 0.16);
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    margin-bottom: 16px;
    &.full {
      grid-template-columns: 2fr;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 12px;
    padding-top: 20px;
  }
  &__title {
    padding: 16px 0 12px;
    @include font(18px, $color-grey-space, 600);
    text-align: center;
  }
  &__text {
    margin-bottom: 6px;
    @include font(12px, $color-grey-space, 500);
  }
  &__input {
    display: block;
    width: 100%;
    padding: 12px;
    @include font(16px, $color-grey-space, 400);
    @include border(5px, $color-grey-flash);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);

    &-wrap {
      position: relative;
    }
  }
  &__icons {
    position: absolute;
    right: 16px;
    bottom: 0;
    height: 24px;
    width: auto;
    transform: translateY(-50%);
  }
  &__icon {
    height: 100%;
    width: 100%;

    & > img {
      height: 100%;
      width: 100%;
      opacity: 0.6;
    }
  }
}
