@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    display: grid;
    overflow: auto;
    @include hideScrollbar;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    @include font(18px, $color-grey-space, 600);
  }
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: opacity 0.2s ease-in-out;
    & > i {
      @include font(16px, $color-green);
    }
    & > span {
      @include font(16px, $color-grey-space, 600);
    }
    &:hover {
      opacity: 0.6;
    }
  }
  &__body {
    display: grid;
  }
  &__services,
  &__history {
    display: grid;
    row-gap: 20px;
    margin-top: 20px;
  }
  &__toggle {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 10px;
    @include font(16px, $color-grey-space, 600);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    & > i {
      font-size: 20px;
      color: $color-grey;
    }
  }
}
