@import 'src/assets/styles/_variables.scss';
.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid $color-grey-flash;
    overflow-x: auto;
    @include hideScrollbar;
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
}
.field__select-label {
  @include font(14px, $color-space, 600);
}
.field {
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 34px;
    padding: 0 14px;

    &-wrap {
      background-color: rgba($color-lightgrey, 0.2);
      @include border;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
        border-color: $color-grey;
      }
      &:active,
      &:focus-within {
        border-color: $color-grey;
        box-shadow: 0 0 0 2px $color-grey-flash;
        outline: none;
      }
    }
  }
  &__input {
    background: transparent;
    width: auto;
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    &-value {
      @include font(14px, rgba($color-space, 0.8), 600);
    }
    &::placeholder {
      color: $color-grey;
    }
    &-wrap {
      display: flex;
      align-items: center;
      gap: 6px;
      i {
        font-size-adjust: 18px;
        color: $color-grey;
      }
    }
  }
  &__placeholder {
    @include font(14px, $color-grey, 600);
  }
}
