@import 'src/assets/styles/_variables.scss';

.notes {
  &__wrapper {
    background-color: $color-white;
    border-radius: 16px;
    padding: 16px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
