@import 'src/assets/styles/_variables.scss';

.part {
  &__wrapper {
    background-color: $color-white;
    @include border(16px, $color-grey-flash);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;

    column-gap: 12px;
    padding: 16px;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    & > .-grey {
      border-color: $color-grey-flash;
      color: $color-grey-space;
    }
    & > * {
      justify-self: start;
    }
    &.-select {
      background-color: $color-green-mint;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__right {
    display: grid;
    grid-template-columns: minmax(50px, 60px) minmax(90px, 110px) minmax(90px, 110px) 34px;
    align-items: center;
    justify-items: center;
    column-gap: 16px;
  }
  &__title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    @include font(14px, $color-grey-space, 700, 1.3);
    & > span {
    }
    & > i {
      font-size: 14px;
      color: $color-grey;
    }
  }
  &__subtitle {
    @include font(14px, $color-grey-space, 500, 1.3);
  }
  &__input {
    position: relative;
    width: 100%;
    height: 34px;
    padding: 10px 6px;
    @include border(8px);
    background-color: $color-grey-smoke;
    @include font(14px, $color-grey-space, 700);
    text-align: center;
  }
}

.y-check {
  height: 16px;
  width: 16px;
  border: 2px solid $color-grey-light;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: $color-green;
  }
  &.-active {
    border-color: $color-green;
    background-color: $color-green;
  }
}
