@import 'src/assets/styles/_variables.scss';

::v-deep(.vfm__container) {
  place-items: start center;
}

::v-deep(.vfm__content) {
  width: 96%;
  max-width: 960px;
  display: grid;
  border-radius: 20px;
  margin: 2% 0;
}

.modal {
  &__wrapper {
    background-color: $color-grey-smoke;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    overflow: hidden;
    max-height: inherit;
  }
  &__inner {
    display: grid;
    overflow: auto;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      align-items: center;
      column-gap: 12px;
      & > .-grey {
        background-color: $color-grey;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      column-gap: 12px;
      & > .-blue {
        background-color: $color-blue;
      }
      & > .-red {
        background-color: $color-red;
      }
    }
  }
  &__title {
    @include font(18px, $color-grey-space, 600);
  }
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 18px;
    &-link {
      @include font(14px, $color-grey, 600);
      @include border(10px, $color-grey-flash);
      padding: 10px 12px;
      &.-active {
        background-color: $color-white;
      }
    }
  }
}
