@import 'src/assets/styles/_variables.scss';

.substatus {
  &__wrapper {
    background-color: $color-white;
    @include border(12px);
    padding: 16px;
    display: grid;
    grid-template-columns: 24px auto 1fr 24px;
    align-items: center;
    column-gap: 12px;
  }
  &__icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    justify-self: center;
  }
  &__title {
    @include font(14px, $color-grey-space, 600);
  }
  &__description {
    @include font(14px, $color-grey, 500);
  }
}
