@import 'src/assets/styles/_variables.scss';

.component {
  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 46px;
    align-items: flex-end;
    column-gap: 14px;
    row-gap: 20px;
    // padding-bottom: 30px;
    // &:not(:last-child) {
    //   border-bottom: 1px solid $color-lightgrey;
    margin-bottom: 30px;
    // }
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    @include border(10px, #d6d7de);
    background-color: $color-lightgrey;
    & > i {
      @include font(16px, $color-grey);
      margin-right: 8px;
    }
    & > span {
      @include font(14px, $color-space, 500);
    }
  }
}

.field {
  &__label {
    display: inline-block;
    position: relative;
    & > i {
      @include font(18px, $color-grey);
      position: absolute;
      right: 16px;
      bottom: 14px;
      display: none;
    }
    &.red {
      & > input {
        border-color: #f37878;
        background-color: rgba(#f37878, 0.1);
        &::placeholder {
          color: #f37878;
        }
      }
      & > i {
        display: block;
        color: #f37878;
      }
    }
    &:first-child {
      margin-right: 6px;
    }
    // &.green {
    //   border-color: #10b981;
    //   background-color: rgba(#10b981, 0.1);
    //   & > i {
    //     color: #10b981;
    //   }
    // }
  }
  &__title {
    @include font(14px, $color-space, 600);
    margin-bottom: 12px;
  }
  &__input {
    width: 100%;
    padding: 14px;
    background-color: $color-bg;
    @include border(12px);
    @include font(14px, $color-space, 500);
  }
  &__btn {
    line-height: 1;
    padding: 10px;
    background-color: $color-bg;
    @include border(12px);
    & > i {
      @include font(24px, $color-lightgrey);
    }
  }
}
