@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    background-color: $color-white;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @include shadow;
  }
  &__title {
    @include font(14px, $color-blue, 600);
    text-transform: uppercase;
  }
  &__row {
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
      padding-bottom: 14px;
    }
  }
  &__cell {
    @include font(14px, $color-grey-space, 600);
  }
}

.section {
  &__inner {
    background-color: $color-grey-smoke;
    @include border(12px, $color-grey-flash);
    padding: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 14px 0;
  }
  &__desc {
    @include font(13px, $color-grey-space, 500, 1.4);
    border-bottom: 1px solid $color-grey-flash;
    padding-bottom: 12px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-flash;
      padding-bottom: 12px;
    }
  }
  &__title {
    @include font(14px, $color-grey, 500);
  }
  &__text {
    @include font(14px, $color-grey-space, 600);
    &.-icon {
      display: flex;
      align-items: center;
      column-gap: 6px;
      & > i {
        color: $color-bluegreen;
      }
    }
    &.-red {
      color: $color-red;
    }
  }
  &__btn {
    @include border(12px, $color-grey-light);
    background-color: $color-grey-flash;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;

    & > span {
      @include font(14px, $color-grey-space, 600);
    }
    & > i {
      @include font(16px, $color-grey);
    }
  }
}
