@import 'src/assets/styles/_variables.scss';

@import 'src/assets/styles/header.scss';

.header {
  &__inner {
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
  &__title {
    color: $color-grey;
  }
  &__line {
    @include font(16px, $color-lightgrey, 600);
    margin: 0 16px;
  }
  &__name {
    @include font(16px, $color-space, 600);
  }
}
