@import 'src/assets/styles/_variables.scss';

.card {
  padding: 12px;
  background: $color-white;
  box-shadow: 0px 3px 0px rgba(48, 50, 73, 0.05);
  border-radius: 16px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: $color-grey-smoke;
    @include border(8px);
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__subtitle {
    @include font(14px, $color-grey-space, 600);
  }
  &__text {
    padding: 4px 0 12px;
    @include font(14px, $color-grey, 500, 1.5);
    &--thin {
      padding: 0;
    }
  }
  &__footer {
    display: grid;
    margin-top: 16px;

    & > .-green {
      background-color: transparent;
      border-color: $color-bluegreen;
      color: $color-bluegreen;
      justify-content: flex-start;
    }
    & > .-red {
      background-color: transparent;
      border-color: $color-red;
      color: $color-red;
      justify-content: flex-start;
    }

    // &-buttons {
    //   display: grid;
    //   grid-template-columns: 40px 1fr;
    //   column-gap: 8px;
    // }
  }
}
