@import 'src/assets/styles/_variables.scss';

@import 'src/assets/styles/header.scss';

.header {
  &__wrapper {
    border-bottom: 1px solid $color-lightgrey;
  }
  &__inner {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-bottom: 0;
    transform: translateY(2px);
    border-bottom: none;
    padding-left: 12px;
  }
  &__top {
    display: flex;
    align-items: center;
    padding-left: 48px;
    &.-open {
      padding-left: 0;
    }
  }
  &__bottom {
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-columns: auto;
    margin-top: 20px;
  }
  &__nav {
    display: flex;
    column-gap: 30px;
    width: inherit;
    overflow-x: auto;
    @include hideScrollbar;
    &-link {
      @include font(14px, $color-grey, 600);
      padding-bottom: 14px;
      border-bottom: 2px solid transparent;
      transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      white-space: nowrap;
      &.router-link-active {
        color: $color-green;
        border-color: $color-green;
      }
    }
  }
}
