@import 'src/assets/styles/_variables.scss';

.y-popup-enter-from {
  opacity: 0;
  transform: scaleY(0.8);
}

.y-popup-leave-to {
  opacity: 0;
}

.y-popup-enter-active {
  transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), opacity 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.y-popup-leave-active {
  transition: opacity 0.1s linear;
}

.y-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-grey-flash;
  border-radius: 24px;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
  padding: 20px;
  transform: translate(-10px, 20px);
  @include hideScrollbar;
}

.y-popup {
  &__list {
    display: grid;
    row-gap: 10px;
  }
}

.note {
  &__wrapper {
    border-radius: 16px;
    background-color: $color-white;
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 32px;
    column-gap: 10px;
    align-items: center;
    @include shadow;
  }
}
