@import 'src/assets/styles/_variables.scss';

.card {
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 5fr) minmax(200px, 5fr) minmax(120px, 3fr) 24px;
    align-items: center;
    column-gap: 20px;
    padding: 12px 20px;
    border-bottom: 1px solid $color-lightgrey;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $color-bg;
      .i-more_horiz {
        opacity: 1;
      }
    }
  }
  &__cell {
    display: flex;
    align-items: center;
    &--name {
      @include font(14px, $color-space, 600);
      column-gap: 10px;
    }
    &--vehicles {
      display: flex;
      align-items: center;
      column-gap: 10px;
      min-height: 34px;
    }
  }
  &__vehicle {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    background-color: $color-bg;
    padding-right: 12px;
    @include border(60px);
    white-space: nowrap;
    & > i {
      @include border(50%, $color-lightgrey, 2px);
      @include font(16px, $color-grey);
      padding: 3px;
      margin-right: 4px;
      margin-left: -1px;
    }
    & > span {
      @include font(14px, $color-space, 600);
      margin-bottom: 1px;
    }
    &.green {
      border-color: $color-green;
      background-color: rgba($color-green, 0.1);
      & > i {
        color: $color-white;
        border-color: $color-green;
        background-color: $color-green;
      }
      & > span {
        color: $color-green;
      }
    }
  }

  &__indicators {
    display: flex;
    column-gap: 8px;
  }
}

.-grey {
  border-color: $color-grey-flash;
  color: $color-grey;
}
.-bluegreen {
  color: $color-bluegreen;
  background-color: rgba($color-bluegreen, 0.1);
}
.-orange {
  color: $color-orange;
  background-color: rgba($color-orange, 0.1);
}
