@import 'src/assets/styles/_variables.scss';

.card {
  &__wrapper {
    background-color: #e5e5e5;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    padding: 20px;
    overflow: auto;
    @include hideScrollbar;
  }
}
