@import 'src/assets/styles/_variables.scss';

.finance {
  &__wrapper {
    background-color: $color-grey-bg;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    padding: 20px;
    overflow: auto;
    @include hideScrollbar;
  }
}
