@import 'src/assets/styles/_variables.scss';

.general {
  &__wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    height: inherit;
    overflow: auto;
    @include hideScrollbar;
    background-color: $color-grey-bg;
  }
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 0;
  }
}
