@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
  }
  &__additional {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__archive {
    &-title {
      @include font(16px, $color-grey-space, 600);
      margin-bottom: 16px;
    }
    &-list {
      display: grid;
      row-gap: 14px;
    }
    &-item {
      @include border(16px);
      padding: 16px;
      background-color: $color-grey-smoke;

      &-title {
        @include font(14px, $color-grey-space, 600);
        margin-bottom: 14px;
      }
      &-list {
        display: grid;
        row-gap: 8px;
      }
      &-block {
        @include font(14px, $color-grey-dark, 600);
        @include border(10px);
        padding: 12px;
        background-color: $color-white;
      }
    }
  }
}
