@import 'src/assets/styles/_variables.scss';

.sidebar {
  &__wrapper {
    background-color: $color-white;
    width: 0;
    position: relative;
    grid-area: 1 / 1 / 3 / 2;
    border-right: 1px solid $color-grey-flash;
    &.open {
      width: 244px;
    }
  }
  &__inner {
    overflow: hidden;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  &__header {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color-grey, 0.2);
    &-logo {
      height: 48px;
      width: 48px;
    }
  }
  &__main {
    overflow-y: auto;
    @include hideScrollbar;
  }
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-bottom: 1px solid $color-grey-flash;
    padding: 12px;
  }
  &__link {
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr auto;
    column-gap: 12px;
    padding: 8px 10px;
    &.router-link-active {
      background-color: $color-grey-flash;
      border-radius: 10px;
      & > .sidebar__link {
        &-icon {
        }
        &-text {
        }
        &-num {
        }
      }
    }
    &-icon {
      @include font(20px, $color-grey);
    }
    &-text {
      @include font(14px, $color-grey-space, 500);
    }
    &-num {
      height: 18px;
      background-color: $color-red-salmon;
      display: grid;
      place-items: center;
      border-radius: 20px;
      @include font(12px, $color-white, 600);
      padding: 0 5px;
    }
  }
  &__footer {
    display: flex;
    align-items: flex-end;
    padding: 12px;
  }
}

.toggle {
  cursor: pointer;
  @include font(20px, $color-grey);
  @include border(50%);
  background-color: $color-white;
  padding: 4px;
  line-height: 0;
  position: absolute;
  border-radius: 50%;
  right: -50px;
  top: 15px;
  z-index: 2;
}

.customer {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    @include border(14px, $color-grey-flash);
    background-color: $color-grey-smoke;
    padding: 10px;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
  }
  &__label {
    background-color: $color-bluegreen;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    @include font(12px, $color-white, 600);
  }
  &__title {
    margin-left: 12px;
  }
  &__name {
    @include font(14px, $color-grey-space, 600);
  }
  &__role {
    @include font(10px, $color-white, 600);
    margin-bottom: 6px;
    background-color: $color-bluegreen;
    padding: 4px;
    border-radius: 4px;
    flex-shrink: 1;
    display: inline-block;
  }
}
