@import 'src/assets/styles/_variables.scss';

.card {
  &__wrapper {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    // position: relative;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   height: 1px;
    //   width: 20px;
    //   background-color: $color-grey;
    //   left: -28px;
    //   top: 50%;
    // }
  }
  &__labels {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: auto auto 1fr;
  }
  &__label {
    transition: opacity 0.2s ease-in-out;
    &.-red {
      background-color: $color-red;
    }
    &.-orange {
      background-color: $color-orange;
    }
    &.-bluegreen {
      background-color: $color-bluegreen;
    }
    &.-none {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey;
    }
    &.-shadow {
      padding-right: 10px;
      &.-green {
        background-color: $color-green-mint;
        color: $color-green;
        &.-border {
          border-color: $color-green;
        }
      }
      &.-red {
        color: $color-red;
        background-color: rgba($color-red, 0.1);
      }
      &.-purple {
        color: $color-purple;
        background-color: rgba($color-purple, 0.1);
      }
      &.-bluegreen {
        color: $color-bluegreen;
        background-color: rgba($color-bluegreen, 0.1);
      }
      &.-none {
        border-color: transparent;
        background-color: $color-grey-smoke;
        color: $color-grey;
      }
      &.-grey {
        border-color: $color-grey-flash;
        background-color: $color-grey-smoke;
        color: $color-grey;
      }
    }
    &.-hover {
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    &.-end {
      justify-self: end;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__body {
    @include font(16px, $color-grey-space, 500, 1.5);
  }
}
