@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    display: grid;
    row-gap: 14px;
    @include border(16px);
    padding: 20px;
    background-color: $color-grey-smoke;
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    @include font(14px, $color-grey-space, 600);
  }
}

.fields {
  background-color: $color-white;
  @include border(16px);
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @include font(14px, $color-grey-space, 600);
    cursor: pointer;
    margin: 20px;
    margin-top: 0;
    & > i {
      color: $color-grey;
    }
  }
}
