@import 'src/assets/styles/_variables.scss';

.service {
  &__wrapper {
    background-color: $color-white;
    @include border(16px, $color-grey-flash);
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 0px auto repeat(3, auto) 32px;
    padding: 12px;
    &.active {
      background-color: $color-green-mint;
      border-color: $color-green;
      grid-template-columns: 20px auto repeat(3, auto) 32px;
    }
    &.editable {
      grid-template-columns: 20px auto repeat(3, auto) 32px;
    }
    & > span {
    }
    & > .-grey {
      border-color: $color-grey-flash;
      color: $color-grey-space;
    }
    & > .-counter {
      justify-self: start;
      background-color: $color-grey-smoke;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__subtitle {
    @include font(14px, $color-grey-space, 500, 1.4);
  }
}

.y-radio {
  height: 16px;
  width: 16px;
  @include border(50%, $color-grey, 2px);
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
  align-self: start;
  &:hover {
    border-color: $color-green;
  }
  &.active {
    border-color: $color-green;
    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $color-green;
      border-radius: 50%;
      top: 2px;
      left: 2px;
    }
  }
}
