@import 'src/assets/styles/_variables.scss';

.info {
  &__wrapper {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0px 3px 0px rgba($color-grey-space, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 6px;
    &-title {
      @include font(18px, $color-grey-space, 600);
    }
    & > .-orange {
      background-color: $color-orange;
    }
    & > .-border.-grey {
      border-color: $color-grey-light;
      background-color: $color-grey-flash;
      color: $color-grey;
    }
  }
}

.block {
  &__header {
    @include font(16px, $color-grey-space, 600);
    margin-bottom: 8px;
  }
  &__inner {
    @include border(10px, $color-grey-flash);
    padding: 14px;
    background-color: $color-grey-smoke;
    &-title {
      @include font(14px, $color-grey-space, 600);
      margin-bottom: 10px;
      &.-bold {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    &-body {
      @include font(16px, $color-grey-space, 500, 1.5);
    }
  }
  &.-red {
    & > .block {
      &__header {
        color: $color-red;
      }
      &__inner {
        border-color: $color-red;
        background-color: $color-red-blush;
      }
    }
  }
  &.-blue {
    & > .block {
      &__header {
        color: $color-blue;
      }
      &__inner {
        border-color: $color-blue;
        background-color: $color-blue-light;
      }
    }
  }
}
