@import 'src/assets/styles/_variables.scss';

.section {
  &__wrapper {
    @include border(16px, $color-grey-flash);
    padding: 20px;
    background-color: $color-grey-smoke;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    box-shadow: 0px 3px 0px rgba(48, 50, 73, 0.05);
  }
  &__dropdown {
    &-title {
      @include font(14px, $color-space, 600);
      margin-bottom: 12px;
    }

    &-label {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
    &-option {
      display: flex;
      align-items: center;
      column-gap: 8px;
      & > i {
        font-size: 20px;
        margin-top: -3px;
        margin-bottom: -3px;
        &.blue {
          color: $color-blue;
        }
        &.red {
          color: $color-red;
        }
        &.green {
          color: $color-green;
        }
      }
      & > span {
        @include font(14px, $color-space, 500);
      }
    }
  }
}
