@import 'src/assets/styles/_variables.scss';

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
  }
  &__title {
    @include font(16px, $color-grey-space, 600);
  }
  &__nav {
    background-color: $color-grey-smoke;
    padding: 8px 10px;
    @include border(78px);
    display: flex;
    align-items: center;
    column-gap: 14px;
    &-link {
      @include font(14px, $color-grey, 600);
      padding: 8px 14px;
      border-radius: 38px;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;
      &.router-link-active {
        background-color: $color-white;
        color: $color-grey-space;
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
