@import 'src/assets/styles/_variables.scss';

.header {
  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 20px;
  }
  &__title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    & > span {
      @include font(16px, $color-grey-space, 600);
    }
  }
  &__label {
    border-color: $color-grey-flash;
    background-color: $color-grey-smoke;
  }
  &__nav {
    justify-self: center;
    background-color: $color-grey-smoke;
    padding: 8px 10px;
    @include border(78px);
    display: flex;
    align-items: center;
    column-gap: 14px;
    &-link {
      @include font(14px, $color-grey, 600);
      padding: 8px 14px;
      border-radius: 38px;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      &.router-link-active {
        background-color: $color-white;
        color: $color-grey-space;
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-self: end;
    & > .-orange {
      background-color: rgba($color-orange, .05);
      border-color: $color-orange;
      color: $color-grey-space;
    }
  }
  &__timer {
    height: 36px;

    background-color: $color-green;
    @include border(48px, transparent);
    @include font(14px, $color-white, 600);
    display: grid;
    place-items: center;
    padding-left: 6px;
    padding-right: 14px;
    cursor: pointer;

    &.-start {
      background-color: transparent;
      border-color: $color-grey-flash;
      color: $color-grey;
    }
    &-start,
    &-stop {
      display: flex;
      align-items: center;
      column-gap: 8px;
      & > i {
        font-size: 24px;
      }
      & > span {
      }
    }
  }
}
