@import 'src/assets/styles/_variables.scss';
.page-inner {
  height: 100%;
  &.requests {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}
.requests {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
    @include hideScrollbar;
  }
}
.health {
  &__wrapper {
    background-color: $color-white;
    height: inherit;
    overflow: hidden;
    display: grid;

    grid-template-rows: auto 1fr;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0px 3px 0px rgba(48, 50, 73, 0.05);
  }
  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    column-gap: 14px;
    overflow: hidden;
    padding: 10px;
  }
  &__table {
    overflow-x: auto;
    overflow-y: hidden;
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    @include hideScrollbar();
  }
}

.table {
  &__header {
    display: grid;
    grid-template-columns: 140px minmax(280px, 400px) 90px 100px 300px 24px;
    column-gap: 14px;
    align-items: center;
    padding: 14px 16px;
    border-top: 1px solid $color-grey-flash;
    border-bottom: 1px solid $color-grey-flash;
    min-height: 46px;
    &-cell {
      @include font(12px, $color-grey, 500);
    }
  }
  &__main {
    overflow: auto;
    @include hideScrollbar;
  }
}
