@import 'src/assets/styles/_variables.scss';

.shift {
  &__wrapper {
    @include border;
    background-color: $color-white;
    padding: 16px;
  }
  &__header {
    display: grid;
    grid-template-columns: 44px 1fr 24px;
    column-gap: 20px;
    row-gap: 12px;
    margin-bottom: 16px;
    &-icon {
      grid-row-start: 1;
      grid-row-end: 3;
      border-radius: 4px;
    }
    &-title {
      @include font(18px, $color-grey-space, 600);
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 44px 1fr;
    column-gap: 20px;
    row-gap: 10px;
    &-time {
      display: grid;
      grid-template-columns: 20px 80px auto;
      column-gap: 8px;
      align-items: center;
      grid-column-start: 2;
      &-icon {
        font-size: 20px;
        margin-right: 8px;
        &.red {
          color: $color-red;
        }
        &.green {
          color: $color-green;
        }
      }
      &-name {
        @include font(14px, $color-grey-dark, 600);
      }
      &-params {
        @include font(14px, $color-grey, 500);
      }
      &:first-child {
        border-top: solid 1px $color-grey-flash;
        padding-top: 16px;
      }
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: 44px 1fr;
    column-gap: 20px;
    row-gap: 12px;
    margin-top: 20px;
    & > span {
      @include font(14px, rgba($color-grey, 0.6), 600);
      grid-column-start: 2;
      border-top: solid 1px $color-grey-flash;
      padding-top: 16px;
    }
  }
}
