@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 100%;
  }
  &__header {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    & > span {
      @include font(14px, $color-grey-space, 600);
    }
  }
  // &__select {
  //   &-option,
  //   &-label {
  //     display: flex;
  //     align-items: center;
  //     column-gap: 8px;
  //     & > i {
  //       font-size: 18px;
  //       &.blue {
  //         color: $color-blue;
  //       }
  //       &.red {
  //         color: $color-red;
  //       }
  //       &.green {
  //         color: $color-green;
  //       }
  //     }
  //     & > span {
  //       @include font(14px, $color-space, 500);
  //     }
  //   }
  // }
}

.field {
  &__title {
    @include font(14px, $color-space, 600);
    margin-bottom: 12px;
  }
  &__dropdown-label {
    padding: 2px 0;
  }
}
