@import 'src/assets/styles/_variables.scss';

.weather {
  &__wrapper {
    min-width: 90px;
  }
  &__inner {
    display: flex;
    align-items: center;
    @include font(20px, $color-white, 700);
    padding: 6px 8px;
    border-radius: 58px;
    &.blue {
      background-color: #0B77F5;
    }
    &.orange {
      background-color: #FFA14E;
    }
    &.red {
      background-color: #F37878;
    }
  }
  &__icon {
    margin-right: 10px;
  }
  &__num {
  }
}

.i-ac_unit {
}
