@import '../styles/_variables.scss';

.y-colors {
  &__wrapper {
    @include border(20px);
    background-color: $color-white;
    padding: 12px 16px;
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  &__item {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: border-color $animationDuration ease-in-out;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: 1px solid transparent;
      transition: border-color $animationDuration ease-in-out;
    }
    &--active {
      &::before {
        border-color: $color-green;
      }
      &::after {
        border-color: $color-white;
      }
    }
  }
  &__palette {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: 12px;
    &-line {
      height: 20px;
      width: 1px;
      background-color: $color-grey-flash;
    }
    &-item {
      height: 20px;
      width: 20px;
      @include border(50%);
      position: relative;
      &[style*='background-color'] {
        border: none;
        &::before {
          content: '';
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: 2px solid $color-green;
          transition: border-color $animationDuration ease-in-out;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 16px;
          width: 16px;
          border-radius: 50%;
          border: 1px solid $color-white;
          transition: border-color $animationDuration ease-in-out;
        }
      }
    }
    &-icon {
      @include font(20px, $color-grey-light);
    }
    &-label {
      display: grid;
      place-items: center;
    }
    &-input {
      height: 1px;
      width: 1px;
    }
  }
}
//==============================
