@import 'src/assets/styles/_variables.scss';

.calendar {
  &__wrapper {
    position: relative;
  }
  &__title {
    @include font(18px, $color-dark, 600);
    background-color: $color-bg;
    border-radius: 90px;
    border: 1px solid $color-lightgrey;
    padding: 12px 18px;
    margin: 0 20px;
  }
  &__body {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    background-color: $color-white;
    box-shadow: 0 0 20px 10px rgba($color-black, .1);
    z-index: 2;
    border-radius: 10px;
    &-months {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 12px;
    }
    &-month {
      padding: 8px;
      cursor: pointer;
      &.active {
        border: 1px solid $color-green;
        color: $color-green;
        border-radius: 12px;
      }
    }
    &-year {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      padding-top: 8px;
      & > i {
        cursor : pointer;
        font-size: 20px;
      }
    }
  }
}
