@import 'src/assets/styles/_variables.scss';

.shift {
  &__wrapper {
    background-color: $color-white;
    padding: 60px;
    height: inherit;
    max-width: 930px;
    min-width: 600px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      display: flex;
      align-items: center;
      column-gap: 12px;
      & > span {
        @include font(20px, $color-grey-space, 600);
      }
    }

    border-bottom: 1px solid $color-grey-flash;
    padding-bottom: 20px;
    &-buttons {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-top: 30px;
    max-width: 420px;
    margin: 0 auto;
  }
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__color {
    @include border;
    display: flex;
    align-items: center;
    column-gap: 18px;
    padding: 12px;
    &-title {
      @include font(14px, $color-grey-space, 600);
    }
  }
  &__time {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 12px;
    &-title {
      @include font(14px, $color-grey-dark, 600);
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &-periods {
      @include border;
      padding: 6px;
      display: flex;
      column-gap: 12px;
    }
    &-period {
      @include font(14px, $color-grey, 600);
      @include border(8px);
      padding: 8px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      &--active {
        background-color: $color-grey;
        color: $color-white;
        border-color: transparent;
      }
      &--error {
      }
    }
  }
  &__switch {
    display: flex;
    align-items: center;
    &-title {
      @include font(14px, $color-grey-dark, 600);
    }
  }
}
