button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
}

.btn {
  border-radius: 100px;
  @include font(14px, $color-white, 500);
  padding: 14px 24px;
  display: flex;
  align-items: center;
  & > i {
    margin-right: 8px;
  }
  &--fill {
    background-color: $color-green;
    &.btn--grey {
      background-color: $color-grey;
    }
  }
  &--border {
    @include font(14px, $color-grey, 500);
    border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding: 10px 20px;
    &.btn--active {
      border-color: $color-green;
      color: $color-green;
    }
    &.btn--green {
      border-color: $color-green;
      color: $color-green;
    }
  }
  &--white {
    color: $color-white;
  }
  &--small {
    padding: 9px 14px;
  }
}

.ico-btn {
  color: $color-grey;
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
  border: 1px solid $color-lightgrey;
  border-radius: 50%;
  &.gear {
    border-radius: 10px;
    color: $color-dark;
    & > i {
      transition: transform 0.5s ease-in-out;
    }
    &:hover {
      & > i {
        transform: rotate(90deg);
      }
    }
  }
  &.colored {
    background-color: $color-lightgrey;

    & > i {
      font-size: 15px;
      color: $color-dark;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      & > i {
        color: rgba($color-dark, 0.7);
      }
    }
  }
}
