@import '@/components/Yaro/styles/style.scss';

//=================== Dropdown ===================

.y-dropdown-item-custom {
  display: flex;
  align-items: center;
  gap: 10px;
  & > i {
    @include font(20px, $color-grey);
    margin: -3px;
    &.red {
      color: $color-red;
    }
    &.green {
      color: $color-green;
    }
    &.orange {
      color: $color-orange;
    }
    &.i-edit {
      margin-bottom: -4px;
    }
  }
  & > span {
    @include font(14px, rgba($color-space, 0.8), 600);
  }
  &.--theme-grey {
    & > span {
      color: $color-white;
    }
  }
}

.y-dropdown-label-custom {
  display: flex;
  align-items: center;
  gap: 10px;
  & > i {
    @include font(20px, $color-grey);
    margin: -3px;
    &.red {
      color: $color-red;
    }
    &.green {
      color: $color-green;
    }
    &.orange {
      color: $color-orange;
    }
    &.i-edit {
      margin-bottom: -4px;
    }
  }
  & > span {
    @include font(14px, rgba($color-space, 0.8), 600);
    &.-placeholder {
      @include font(14px, $color-grey, 500);
    }
    &.-title {
      @include font(14px, $color-grey, 600);
    }
  }
  &.--theme-grey {
    & > span {
      // color: $color-white;
    }
  }
}

//===================================================

//=================== Date Picker ===================
@import '~v-calendar/dist/style.css';

.vc-popover-caret {
  display: none;
}
.vc-container {
  border-radius: 16px;
}
.vc-highlight {
  border-radius: 8px !important;
  background-color: $color-green !important;
  border-color: $color-green !important;
  height: 36px;
  width: 36px;
}
.vc-day-content {
  border-radius: 8px;
  height: 36px;
  width: 36px;
  &:hover {
    border: 1px solid rgba($color-white, 0.2);
  }
}

.vc-highlights.vc-day-layer {
  .vc-day-content.vc-focusable {
    color: $color-white !important;
  }
}
.vc-day {
  .vc-highlights.vc-day-layer {
    .vc-day-content.vc-focusable {
      color: $color-white !important;
      border: 1px solid rgba($color-green, 0.2) !important;
    }
  }
}
.vc-highlights.vc-day-layer ~ span.vc-day-content.vc-focusable {
  color: $color-white !important;
}
.vc-time-day,
.vc-time-month {
  color: $color-green;
}
.vc-time-picker {
  align-items: flex-end;
}
.vc-time-icon {
  margin-bottom: 2px;
}
.vc-am-pm > button.active {
  background-color: $color-green;
}
.vc-am-pm button.active:hover {
  background: $color-green;
}
.vc-am-pm button.active:focus {
  border-color: $color-green;
}
.vc-am-pm button:focus {
  border-color: transparent;
}
//===================================================

// ================== QUIll ======================
@import '~@vueup/vue-quill/dist/vue-quill.snow.css';

.ql-container {
  font-size: 16px;
  font-family: $mainFont;
}

.ql-editor {
  min-height: 60vh;
  padding: 16px 0;
  line-height: 1.6;
  & img {
    display: inline-block;
    // max-width: 33%;
  }
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid $color-grey-flash;
}

.ql-container.ql-snow {
  border: none;
}

.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  background-color: $color-green-mint;
  color: $color-green;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: $color-green;
}
