@import 'src/assets/styles/_variables.scss';

.part {
  padding: 14px 0;
  border-bottom: 1px solid $color-grey-flash;

  &__inner {
    display: grid;
    align-items: center;
    column-gap: 12px;
    grid-template-columns: 16px minmax(200px, 1fr) repeat(2, 70px);

    & > i {
      @include font(14px, $color-violet);
    }
  }
  &__name {
    @include font(14px, $color-grey-space, 600);
  }
  &__num {
    @include font(14px, $color-grey-space, 700);
    text-align: right;
  }
}
.clearp {
  background-color: transparent;
  border: none;
}
