@import 'src/assets/styles/_variables.scss';

.services {
  &__wrapper {
    margin-top: 18px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-top: 14px;
    @include border(16px);
  }
}
