@import 'src/assets/styles/_variables.scss';

.section {
  &__wrapper {
  }
  &__list {
    margin-bottom: 14px;
    display: grid;
    row-gap: 14px;
  }
  &__footer {
  }
  &__btn {
    @include border(16px);
    @include shadow;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
    &:hover {
      border-color: $color-grey;
    }
    & > i {
      @include font(18px, $color-grey);
    }
    & > span {
      @include font(16px, $color-grey-space, 700);
    }
  }
}
