@import 'src/assets/styles/_variables.scss';

.finance {
  &__wrapper {
    background-color: $color-grey-bg;
    height: 100%;
    padding: 20px;
    overflow: auto;
    @include hideScrollbar;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 20px;
    & > .-orange {
      background-color: $color-orange;
    }
  }
  &__title {
    @include font(18px, $color-grey-space, 700);
  }
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__label {
    transition: opacity 0.2s ease-in-out;
    &.-orange {
      background-color: $color-orange;
    }
    &.-none {
      border-color: $color-grey-flash;
      background-color: $color-grey-smoke;
      color: $color-grey;
    }
  }
}
