@import 'src/assets/styles/_variables.scss';

.block {
  &__wrapper {
    display: grid;
    overflow: auto;
    row-gap: 20px;
    @include hideScrollbar;
    margin-top: 30px;
  }
  &__header {
    display: grid;
    grid-template-columns: 1fr 114px;
    column-gap: 16px;
  }
  &__drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    @include border(16px);
    padding: 30px;
    background-color: $color-grey-smoke;
    @include shadow;
    & > i {
      @include font(34px, $color-grey-light);
    }
    & > span {
      @include font(16px, $color-grey-space, 600);
    }
    &-input {
      display: none;
    }
  }
  &__qr {
    display: grid;
    place-items: center;
    @include border(16px);
    @include font(96px, $color-grey-space);
  }
  &__imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    padding-bottom: 30px;
  }
  &__img {
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &-hover {
      display: grid;
      place-items: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-blue, 0.4);
      cursor: pointer;
      font-size: 30px;
    }
    &-remove {
      @include border(10px, $color-white);
      padding: 10px;
      display: flex;
      align-items: center;
      column-gap: 8px;
      @include font(14px, $color-white, 600);
      background-color: rgba($color-white, 0.2);
    }

    &:hover {
      & > .block__img-hover {
        position: absolute;
      }
    }
  }
}
