@import 'src/assets/styles/_variables.scss';

::v-deep() {
  .vfm__container {
    place-items: start center;
  }
  .vfm__content {
    margin: 2% 0;
    width: 96%;
    max-width: 980px;
  }
  .vfm--overlay.vfm__overlay {
    // TODO: fix this /\
    background-color: rgba($color-grey, 0.4);
  }
}

.modal {
  &__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    padding: 20px;
    max-height: inherit;
    overflow: hidden;
    padding-bottom: 0;
  }
  &__header {
    @include font(18px, $color-grey-space, 600);
    display: grid;
    grid-template-columns: 20px 20px auto 1fr;
    column-gap: 14px;
    align-items: center;
    & > i {
      @include font(20px, $color-grey, 600);
      &:first-child {
        cursor: pointer;
      }
    }
    &-btn {
      justify-self: end;
      @include font(14px, $color-green, 500);
      display: flex;
      align-items: center;
      column-gap: 8px;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
    @include hideScrollbar;
    padding-bottom: 20px;
  }
}
