@import 'src/assets/styles/_variables.scss';

@import 'src/assets/styles/header.scss';

.header {
  &__inner {
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
  }
}
