@import '../styles/_variables.scss';

.field {
  &__label {
    position: relative;
    display: block;
    &.icon-left {
      & > .field__input {
        padding-left: 44px;
      }
    }
    &.icon-right {
      & > .field__input {
        padding-right: 36px;
      }
    }
    &.right-text {
      & > .field__input {
        padding-right: 82px;
      }
    }
    &.error {
      & > .field {
        &__icon {
          display: none;
          &--error {
            display: block;
            right: 16px;
          }
        }
        &__icon-text {
          bottom: 36px;
        }
        &__input {
          background-color: rgba($color-red, 0.1);
          border-color: $color-red;
          &::placeholder {
            color: rgba($color-red, 0.8);
          }
          &:focus {
            box-shadow: 0 0 0 2px transparent;
          }
        }
      }
      &.icon-left {
        > .field {
          &__icon {
            display: none;
            &--error {
              display: block;
              left: 16px;
            }
          }
        }
      }
      &.icon-left {
        > .field__icon--error {
          left: 16px;
        }
      }
      &.icon-right {
        > .field__icon--error {
          right: 16px;
        }
      }
      &.right-text {
        & > .field__icon--error {
          display: none;
        }
      }
    }
    &.error-message {
      & > .field {
        &__icon {
          // display: none;
          &--error {
            // display: block;
            bottom: 33px;
          }
        }
        // &__input {
        //   background-color: rgba($color-red, 0.1);
        //   border-color: $color-red;
        //   &::placeholder {
        //     color: rgba($color-red, 0.8);
        //   }
        // }
      }
    }
    &.medium {
      & > .field__input {
        padding: 8.5px 12px;
        padding-left: 34px;
      }
      & > .field__icon.left {
        font-size: 18px;
        bottom: 10px;
        left: 10px;
      }
    }
  }
  &__title {
    @include font(14px, $color-grey-space, 600);
    margin-bottom: 12px;
  }
  &__input {
    display: block;
    @include font(13.5px, $color-grey-space, 500);
    padding: 14px;
    background-color: rgba($color-grey-flash, 0.2);
    @include border;
    width: 100%;
    transition: 0.2s ease-in-out;
    &::placeholder {
      color: $color-grey;
    }
    &:hover {
      border-color: $color-grey;
    }
    &:focus {
      border-color:  $color-grey;
      background-color: $color-white;
      box-shadow: 0 0 0 2px $color-grey-flash;
    }
  }
  &__icon {
    position: absolute;
    bottom: 14px;
    @include font(20px, $color-grey, 500, 0);
    &.left {
      left: 16px;
    }
    &.right {
      right: 16px;
    }
    &.orange {
      color: $color-orange;
    }
    &.bluegreen {
      color: $color-bluegreen;
    }
    &-text {
      position: absolute;
      right: 0;
      bottom: 16px;
      right: 16px;
      @include font(12px, $color-grey, 600);
      &.orange {
        color: $color-orange;
      }
      &.bluegreen {
        color: $color-bluegreen;
      }
    }
    &--error {
      color: $color-red;
      display: none;
    }
  }
  &__error {
    @include font(11px, $color-red, 600);
    margin-top: 8px;
  }
}
